* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
}

.menu_lateral {
    width: 20%;
    background-color: steelblue;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}

.menu_lateral li {
    list-style: none;
    margin: 15px 0;
}

.menu_lateral li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.menu_lateral li a:hover {
    text-shadow: 1px 3px 4px palevioletred;
}

.bem_vindo {
    margin-left: 20%;
    width: 80%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .menu_lateral {
        width: 100%;
        position: relative;
    }

    .bem_vindo {
        margin-left: 0;
        width: 100%;
    }
}
